body {
    background: rgb(0, 0, 0);
    background-image: url("Space.jpg");
    alt: "space";
    margin: 0px;
}

header {
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    font-size: 70px;
    font-family: "UnifrakturMaguntia", cursive;
    font-weight: 400;
    font-style: normal;
    color: rgb(220, 224, 234);
    padding: 8px;
}

.header-container {
    height: 500px;
    background-color: #6b594f;
    background-image: linear-gradient(to top, rgb(14, 13, 14) 0%, rgba(0, 0, 0, 0) 100%), url("may-12-2019-star-forming-region-n11b.jpg");
    alt: "star-forming-region-n11b";
    background-size: cover;
    background-position: center;
}

.header-container-2 {
    height: 250px;
    background-color: #6b594f;
    background-image: linear-gradient(to top, rgb(14, 13, 14) 0%, rgba(0, 0, 0, 0) 100%), url("may-12-2019-star-forming-region-n11b.jpg");
    alt: "star-forming-region-n11b";
    background-size: cover;
    background-position: center;
}

.pfp {
    display: flex;
    height: 90%;
    width: 11%;
    border-radius: 50%;
    justify-content: center;
    align-self: center;
    background-image: url("6f4a8c45-10ad-4cfa-ac1b-8eb9cede1663.png");
    background-size: cover;
    background-position: center;
    margin-top: 60px
}

.title-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.div-gradient {
    height: 100px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgb(14, 13, 14) 100%);
}

footer {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Astloch", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: rgb(0, 0, 0);
    background-color: rgb(149, 177, 213);
}

.container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.item-1 {
    display: flex;
    width: 400px;
    height: 400px;
    font-size: 36px;
    color: rgb(255, 255, 255);
    margin-left: 50px;
    margin-bottom: 50px;
    border-radius: 50%;
    background-image: url("Untitled\ design\ \(1\)\ copy.png");
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    font-family: "UnifrakturMaguntia", cursive;
    font-weight: 400;
    font-style: normal;

}

.item-2 {
    display: flex;
    width: 400px;
    height: 400px;
    font-size: 36px;
    color: rgb(255, 255, 255);
    margin-left: 50px;
    margin-bottom: 50px;
    border-radius: 50%;
    background-image: url("Planets\ copy.png");
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    font-family: "UnifrakturMaguntia", cursive;
    font-weight: 400;
    font-style: normal;
}

.item-3 {
    display: flex;
    width: 400px;
    height: 400px;
    font-size: 36px;
    color: rgb(255, 255, 255);
    margin-left: 50px;
    margin-bottom: 50px;
    border-radius: 50%;
    background-image: url("Planets.png");
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    font-family: "UnifrakturMaguntia", cursive;
    font-weight: 400;
    font-style: normal;
}

.item-4 {
    display: flex;
    width: 400px;
    height: 400px;
    background: #6b594f;
    font-size: 36px;
    color: rgb(255, 255, 255);
    margin-left: 50px;
    margin-bottom: 50px;
    border-radius: 50%;
    background-image: url("Mars.jpg");
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    font-family: "UnifrakturMaguntia", cursive;
    font-weight: 400;
    font-style: normal;
}

.item-5 {
    display: flex;
    width: 400px;
    height: 400px;
    font-size: 36px;
    color: rgb(255, 255, 255);
    margin-left: 50px;
    margin-bottom: 50px;
    border-radius: 50%;
    background-image: url("Untitled\ design\ \(1\).png");
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    font-family: "UnifrakturMaguntia", cursive;
    font-weight: 400;
    font-style: normal;
}


.item-6 {
    display: flex;
    width: 400px;
    height: 400px;
    font-size: 36px;
    color: rgb(255, 255, 255);
    margin-left: 50px;
    margin-bottom: 50px;
    border-radius: 50%;
    background-image: url("Planets\ copy\ 2.png");
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    font-family: "UnifrakturMaguntia", cursive;
    font-weight: 400;
    font-style: normal;
}



.container-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-size: 36px;
    color: rgb(255, 255, 255);
    margin-bottom: 50px;
    background-image: url("Orion.Sword.jpg");
    justify-content: center;
    align-items: center;
    background-size: cover;
}

h1 {

    font-family: "MedievalSharp", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 42px;
    color: rgb(255, 255, 255);
    margin-bottom: 0px;
}


p {
    display: flex;
    flex-direction: column;
    font-family: "Grenze Gotisch", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    color: rgb(255, 255, 255);
    align-self: center;
    text-align: center;
    width: 60%;
}

.reflection-para {
    display: flex;
    flex-direction: column;
    font-family: "Grenze Gotisch", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    color: rgb(255, 255, 255);
    align-self: center;
    text-align: center;
    width: 100%;
}

.social-logo {
    width: 30px;
    height: 30px;
}

a {
    text-decoration: none;
}

.page-links a {
    background-color: rgb(149, 177, 213);
    color: #433832;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s;
    display: flex;
    flex-direction: row;
    font-size: 18px;
    font-family: "Astloch", system-ui;
    font-weight: 700;
    font-style: normal;
}

.Home-link:hover a {
    background-color: rgb(116, 134, 166);
}




.link-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-self: flex-end;

}



a:visited {
    color: rgb(255, 255, 255);
}

a:hover {
    color: rgb(0, 0, 0);
}


a:active {
    color: rgb(255, 255, 255);
}